@import './color';

.swal2-popup {
  display: none;
  position: relative !important;
  box-sizing: border-box !important;
  grid-template-columns: minmax(0, 100%) !important;
  width: 32em !important;
  max-width: 100% !important;
  padding: 0 0 1.25em !important;
  border: none !important;
  border-radius: 5px !important;
  font-family: inherit !important;
  font-size: 0.875rem !important;
}

.swal2-confirm {
  background-color: $blue-color;
}

@media (min-width: 425px) and (max-width: 768px) {
  .swal2-popup {
    width: 24rem !important;
    font-size: 14px !important;
  }
}

@media (max-width: 424px) {
  .swal2-popup {
    width: 20rem !important;
    font-size: 13px !important;
  }
}