@import "@style/color";

.form-container {
  h4 {
    font-weight: 400;
  }

  form {
    &.signUp-form {
      display: flex;
      flex-direction: column;
    }

    span {
      font-size: 0.813rem;
      font-weight: 300;
      color: $red-color;
    }

    .submitBtn {
      text-align: right;
      margin-top: 8px;

      button {
        width: 140px;
      }
    }
  }
}