@import '@style/color';

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1256px;
  height: 60px;
  margin: 0 auto;

  a {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 8px;
    border-radius: 50%;

    &.homeBtn {
      left: 52px;
      background-color: $blue-color;
      svg {
        height: 20px;
      }
    }

    &.writeBtn {
      right: 68px;
      background-color: $primary-color;
      svg {
        height: 24px;
      }
    }
  }
}