@import '../../style/color';

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1256px;
  height: 60px;
  margin: 0 auto;

  a {
    position: absolute;
    right: 68px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $primary-color;
    padding: 8px;
    border-radius: 50%;

    svg {
      height: 24px;
    }
  }
}