@import '@style/color';

.header {
  width: 100%;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 60px;
  span {
    font-size: 0.875rem;
  }

  button {
    color: $grey-text-color;
    margin-left: 12px;
  }
}

.register {
  font-weight: 300;
  margin-left: 16px;
}